

@media (max-width:991px) {
	.header .container .icon {
		float: right;
		display: block;
	    margin-top: 30px;
	    font-size: 25px;
	}
	.primary-menu, .search{
		display: none;
	}
	.main-menu {
		width: unset;
		float: none;
	}
	.nav {
		margin-top: 0;
	}
}
@media (max-width: 768px) {
}

@media (max-width: 414px) {
	#custom_html-3,#custom_html-2,#custom_html-5,#custom_html-4 {
		float: none;
		width: 100%;
		margin: 0;
		padding: 20px 0;
	}
}